@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Doppio One', sans-serif;
    font-weight: 400;
}

body {
    background-color: rgb(85, 80, 80);
}